body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

ul {
  list-style-type: none;
  margin: 0;

  padding-left: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}
.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
}
